body {
  margin: 0;
  background-color: black;
  font-family: "Times New Roman", Times, serif;
}
.box {
  border: 1px solid blanchedalmond;
  border-spacing: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}

.navbar-csk {
  background-color: rgb(221, 224, 24);
  width: 100%;
  height: auto;
  align-items: center;
}
.navbar-csk h1 {
  margin: 0;
  font-size: 70px;
  color: rgb(11, 27, 168);
  text-align: center;
}
.wrap-csk {
  color: blanchedalmond;
  align-content: center;
  margin-top: 50px;
}
.csk-logo {
  height: 90px;
}

.csk-para {
  color: blanchedalmond;
  font-size: 30px;
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
}
