body {
  margin: 0;
  background-color: black;
  font-family: "Times New Roman", Times, serif;
}
.box {
  border: 1px solid blanchedalmond;
  border-spacing: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}

.navbar-pk {
  background-color: rgb(129, 27, 14);
  width: 100%;
  height: auto;
}
.navbar-pk h1 {
  margin: 0;
  font-size: 70px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.wrap-pk {
  color: blanchedalmond;
  align-content: center;
  margin-top: 50px;
}
.pk-logo {
  height: 90px;
}
.pk-para {
  color: blanchedalmond;
  font-size: 30px;
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
}
