body {
  margin: 0;
  background-color: black;
  font-family: "Times New Roman", Times, serif;
}
.box {
  border: 1px solid blanchedalmond;
  border-spacing: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}

.navbar-rr {
  background-color: rgb(34, 45, 138);
  width: 100%;
  height: auto;
  align-items: center;
}
.navbar-rr h1 {
  margin: 0;
  font-size: 70px;
  color: rgb(189, 123, 24);
  text-align: center;
}
.wrap-rr {
  color: blanchedalmond;
  align-content: center;
  margin-top: 50px;
}
.rr-logo {
  height: 90px;
}

.rr-para {
  color: blanchedalmond;
  font-size: 30px;
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
}
